@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500;600;700&display=swap");

  body {
    background-color: var(--bg-body);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }

:root {
  --bg-body: #f0f2f5;
  --bg-card: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent-color: #4285f4;
  --error-color: #f24444;
  --success-color: #2ecc71;
  --border-color: #e4e6eb;
  --warning-color: #f3d600;
}

.dark-mode {
  --bg-body: #18191a;
  --bg-card: #242526;
  --text-primary: #e4e6eb;
  --text-secondary: #b0b3b8;
  --border-color: #3e4042;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition:
    transform 0.1s,
    opacity 0.2s;
}

.btn:active {
  transform: scale(0.95);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}